.custom-table {
    color: black;
}

.button-group {
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #3f3c3c;
}

.btn-add-product {
    background-color: #000;
    margin-top: 10px;
}

.btn-update-price {
    background-color: #000;
    margin-top: 10px;
}

.btn-update-stock {
    background-color: #000;
    margin-top: 10px;
}

.btn-download-record,
.btn-download {
    background-color: #1a9e15; /* Green background color */
    margin-top: 10px;
    color: #fff; /* White text color */
}

.table-container {
    position: relative;
}

.table-container table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #343a40; 
    color: white; 
}

.btn-daily-record,
.btn-monthly-record {
    background-color: #000;
    margin-top: 10px;
    color: #fff;
}

.btn-daily-record:hover,
.btn-monthly-record:hover {
    background-color: #3f3c3c;
}

.filter-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-input {
    width: 150px; /* Adjusted the width to make it compact */
    margin-right: 10px; 
}

.filter-button {
    background-color: #007bff;
    border: none;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #0056b3;
}
